.trailer-page {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trailer-container {
  padding: 20px;
  max-width: 800px;
  color: black;
}

.trailer-container h1 {
  margin-bottom: 20px;
}

.trailer-container p {
  font-size: 18px;
}
